<app-menu-title></app-menu-title>

<div class="container__articles">
  <div class="articles__main">
    <app-big-card
      id="1"
      photoCover="https://i.pinimg.com/236x/a1/35/f3/a135f31e0b2ad63e91581395f71b0a1d.jpg"
      cardTitle="NOVO HOMEM DE FERRO ANUNCIADO"
      cardDescription="Marvel anuncia novo homem de ferro, em breve, nos cinemas."
    ></app-big-card>
  </div>
  <div class="articles__others">
    <app-small-card
      id="2"
      cover="https://i.pinimg.com/236x/49/e8/7e/49e87e37ed7980d87e7c870edb7e1d87.jpg"
      title="Faltou pintar!"
      description="Homem de ferro sofre com inverno e  enferruja"
    ></app-small-card>

    <app-small-card
      id="3"
      cover="https://i.pinimg.com/236x/af/0b/02/af0b02a45cd6109524c3c63d66483802.jpg"
      title="Faltou pintar!"
      description="Homem de ferro sofre com inverno e  enferruja"
    >
    </app-small-card>

    <app-small-card
      id="4"
      cover="https://i.pinimg.com/236x/0a/f5/71/0af571746bd65db7a85b7f3945b3f9a7.jpg"
      title="Faltou pintar!"
      description="Homem de ferro sofre com inverno e  enferruja"
    ></app-small-card>
  </div>
</div>
