:root {
  --background-color: #111111;
  --text-color: #fff;
  --default-margin: 0;
  --default-padding: 0;
}

* {
  background-color: var(--background-color);
  box-sizing: border-box;
  color: var(--text-color);
  font-family: sans-serif;
  margin: var(--default-margin);
  padding: var(--default-padding);
}
